$dark-grey-color: #333333;
$grey-color: #484848;
$magenta-color: #BA2E8B;
$blue-color: #2BADFE;
$white-color: #fefefe;


$menu-color:#fff;
$casino-box-color:#aaaaaa;

$breadcrumbs-bg-color: #eeeeee;
$breadcrumbs-link-color: #aaaaaa;
$static-nav-hover-color: #2113ff;
$static-nav-hover-bg: #fbfbfb;
$static-list-pointer-color: #ff0f9b;

$bonuses-checkbox-color: #263052;
$bonuses-reset-color: #f63421;
$body-bg: #f8f5f8;